@media all and (max-width: 1366px){

	.heading1 {
        font-size: 40px;
        line-height: 40px;
    }
    .heading1-white{
        font-size: 38px;
        line-height: 60px;
    }
    .heading2 {
        font-size: 38px;
        line-height: 60px;
    }
    .heading3 {
        font-size: 26px;
        line-height: 34px;
    }
    .heading4 {
        font-size: 22px;
        line-height: 30px;
    }
    .font22 {
        font-size: 20px;
        line-height: 30px;
    }
    .font22-bold {
        font-size: 20px;
        line-height: 30px;
    }
    .header-logo .font16-purple {
        padding-bottom: 12px;
    }
    .font16-purple {
        font-size: 14px;
        line-height: 22px;
    }
    .top-menu {
        padding-bottom: 25px;
    }
    .mainMenu ul li a {
        font-size: 15px;
    }
    .banner-orange-box .heading1-white {
        line-height: 60px;
    }
    .black_box .font22 {
        padding-top: 18px;
    }
    .who-we-right .font16 {
        padding-top: 18px;
    }
    .single-card .font16 {
        padding-bottom: 15px;
    }


}
@media all and (max-width: 1199px){
    .logo-content{
        display: none;
    }
    .header-logo a img {
        margin-bottom: 20px;
    }
}
@media all and (min-width: 1025px){
    .header-menu{
        display: flex !important;
    }
    .header-nav nav{
        display: block !important;
    }
    .mainMenu{
        display: flex !important;
        flex-direction: column;
    }
}
@media all and (max-width: 1024px){
	/* Mobile menu ----------------------------*/
	.header-button {
		display: none;
	}
	.mobile-headerbtn{
		display: block;
	}
	.mobile-menu {
		display: block;
	}	


	.mainMenu{
        z-index: 99;
        position: absolute;
        margin: 0;
        padding: 20px 10px;
        left: -10px;
        top: 100%;
        width: calc(100% + 20px);
        background: #4F017C;
        box-shadow: -2px 4px 7px 0px rgba(226, 225, 225, .79);
        display: none;
        height: 100vh;
        overflow-y: scroll;
    }
    .mainMenu ul{
        display: block;
    }
    .mainMenu ul li{
        transform: none;
        transition: none;
        padding: 0;
        margin: 0;
        position: inherit;
        display: block;
        width: 100%;
    }
    .mainMenu ul li.menu-item-has-children > a::after{
        float: right;
    }
    .mainMenu > ul > li > a{
        width: 100%;
        padding: 10px 20px 9px;
    }

    .mainMenu ul li .sub-menu li .sub-menu,
    .mainMenu ul li .sub-menu{
        border: none;
        padding: 15px 10px;
        z-index: 5;
        position: relative;
        opacity: 1;
        margin: 0;
        background: #F2E938;
        top: 0;
        left: 0;
        display: none;
        max-width: 200px;
    }
    .mainMenu ul li ul{
        right: 0px;
    }
    .mainMenu ul li .sub-menu li:hover .sub-menu,
    .mainMenu ul li:hover .sub-menu{
        top: 0;
        visibility: visible;
        opacity: 1;
        left: auto;
        pointer-events: inherit;
        transition: none;
        transform: none;
    }
    .mainMenu ul li .sub-menu li {
        display: block;
        padding: 6px 12px;
        margin: 0;
        transition: none;
        opacity: 1;
        visibility: visible;
        transition: none;
        transform: none;
    }
    .mainMenu ul li .sub-menu ul li a{
        padding-left: 55px;
    }



    .header-area::after {
        display: none;
    }
    .top-menu .d-sm-none{
        display: none !important;
    }
    .mainMenu > .sub-menu {
        background: #4F017C;
        padding: 0px;
        clip-path: none;
    }
    .top-menu {
        padding-bottom: 0px;
    }
    .mainMenu > .sub-menu {
        gap: 0px;
        flex-direction: column;
    }
    .mainMenu ul li a {
        color: #FFF;
        font-size: 16px;
        line-height: 20px;
    }
    .top-menu li a{
        color: #FFF !important;
    }
    .g-5 {
        --bs-gutter-x: 2rem;
        --bs-gutter-y: 3rem;
    }



}

@media all and (max-width: 991px){
    .heading1-white{
        font-size: 30px;
        line-height: 45px;
    }
    .heading2 {
        font-size: 30px;
        line-height: 45px;
    }
    .heading4 {
        font-size: 20px;
        line-height: 24px;
    }
    .font18-white {
        font-size: 16px;
        line-height: 26px;
    }
    .banner-orange-box .font18-white {
        font-weight: 400;
        padding-bottom: 15px;
    }
    .banner-orange-box {
        padding: 50px 50px;
    }
	.black_box {
        padding: 50px 50px;
    }
    .banner-orange-box .heading1-white {
        line-height: 50px;
    }
    .mt-100 {
        margin-top: 70px;
    }


}

@media all and (max-width:767px){
    .banner_content .banner-orange-box{
       display: none;
    }
    .mobile-banner-orange-box{
        display: block;
    }
	.banner_content {
        padding: 190px 0px;
    }
    .who-we-area {
        margin: 80px 0px;
    }
    .footer-area {
        padding: 60px 0px;
    }
    .mt-100 {
        margin-top: 60px;
    }
    .custom-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .item-image {
        height: 350px;
    }
    .contact-form-area {
        padding-top: 80px;
    }
    .contact-content {
        gap: 35px;
    }
}
@media all and (max-width:575px){
    .heading1-white{
        font-size: 25px;
        line-height: 40px;
    }
    .heading2 {
        font-size: 25px;
        line-height: 40px;
    }
    .heading3 {
        font-size: 22px;
        line-height: 30px;
    }
    .heading4 {
        font-size: 18px;
        line-height: 20px;
    }
    .banner-orange-box .heading1-white {
        line-height: 45px;
    }
    .font22 {
        font-size: 16px;
        line-height: 26px;
    }
    .font22-bold {
        font-size: 16px;
        line-height: 26px;
    }
    .font16 {
        font-size: 15px;
        line-height: 24px;
    }
    .banner-orange-box {
        padding: 35px 35px;
    }
    .black_box {
        padding: 35px 35px;
    }
    .who-we-area {
        margin: 60px 0px;
    }
    .single-card .font16 {
        padding-top: 8px;
        padding-bottom: 12px;
    }
    .footer-top a img {
        width: 25px;
    }
    .footer-bottom {
        padding-top: 30px;
    }
    .footer-area {
        padding: 50px 0px;
    }
    .history-content-area {
        padding-bottom: 50px;
    }
    .history-content .font16 {
        padding-top: 18px;
        font-weight: 400;
    }
    .contact-form-area {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .contact-content {
        gap: 25px;
    }
    .contact-form {
        padding: 25px;
    }
    .contact-form .heading3 {
        padding-bottom: 15px;
    }
	
}


@media all and (max-width:450px){
	.heading3 {
        font-size: 18px;
        line-height: 30px;
    }
}

