/* font-family: 'TGL 0-1451 Engschrift'; */
@font-face {
  font-family: 'TGL 0-1451 Engschrift';
  src: url('TGL0-1451Engschrift.woff2') format('woff2'),
      url('TGL0-1451Engschrift.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Default Css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  overflow-x: hidden;
}
body{
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #000;
  overflow-x: hidden;
}
ul,ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

.heading1{
  color: #4F017C;
  font-family: 'TGL 0-1451 Engschrift';
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76.8px;
}
.heading1-white{
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
}
.heading2{
  color: #FFF;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 67px;
}
.heading3{
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.heading4{
  color: #F2E938;
  font-size: 25px;
  font-style: normal;
  line-height: 35px;
}
.font22{
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}
.font22-bold{
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}
.font18{
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.font18-white{
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.font16 {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.font16-white{
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.font16-purple{
  color: #5E27B8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

a{
  text-decoration: none;
  color: inherit;
}
img{
  width: 100%;
}
.container{
  max-width: 1460px;
  width: 100%;
  margin: auto;
  padding: 0px 15px;
}





/* ===================================================================
                            Header Area CSS Start
====================================================================*/
.header-area {
	position: relative;
	z-index: 9999999999999;
  background: #FFF;
}
.header-area::after{
  content: "";
  position: absolute;
  height: 70px;
  right: 0;
  bottom: 2px;
  background: #4F017C;
  width: 37%;
  z-index: -1;
}
.header-main{
  position: relative;
  padding: 20px 14px 2px 14px;
}
.header-menu{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 40px;
}

.header-logo a img{
  max-width: 60px;
  width: 100%;
}
.header-logo .font16-purple{
  padding-bottom: 30px;
}


/* new css start*/
.mainMenu{
  margin-left: 0;
  position: relative;
}
.mainMenu > .sub-menu{
  display: flex;
  gap: 30px;
}
.top-menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 40px;
}
.top-menu li a{
  color: #4F017C !important;
}
.top-menu li a img{
  width: 30px;
  margin-left: 20px;
}
.top-menu li span{
  cursor: pointer;
}
.mainMenu ul li{
  position: relative;
}
.mainMenu ul li a{
  color: #F2E938;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  display: block;
  position: relative;
  letter-spacing: .32px;
}
.mainMenu ul li:hover > a, 
.mainMenu ul li.current-menu-item > a{
  color: #F2E938;
}
.mainMenu > .sub-menu {
  background: rgb(79, 1, 124);
  padding: 20px 30px 20px 60px;
  clip-path: polygon(5% 0px, 100% 0%, 100% 0%, 120% 531%, 0% 110%);
}
.mainMenu ul li ul{
  position: absolute;
  padding: 15px 0;
  position: absolute;
  top: 100%;
  right: -30px;
  pointer-events: none;
  display: block;
  min-width: 220px;
  border-radius: 0;
  margin: 0;
  background: #F2E938;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 30px 60px 0px rgb(2 24 93 / 8%);
  z-index: 10;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
  transform-style: preserve-3d;
  transition: .4s;
}
.menu-item-has-children > .sub-menu li a{
  color: #000 !important;
  white-space: nowrap;
}
.mainMenu ul li ul li ul{
  left: 100%;
  top: 0;
}
.mainMenu > ul li:hover > ul {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
  transform: rotatex(0deg);
}
.mainMenu > ul li > ul li {
  margin: 0;
  padding: 4px 30px 4px;
  width: 100%;
}


/* new css end*/




/*Start Mobile Menu icon*/
.mobile-menu {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
	right: 15px;
  display: none;
  z-index: 9999;
}
#nav-icon {
  width: 28px;
  height: 23px;
  position: relative;
  margin: 0px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4F017C;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}
#nav-icon span:nth-child(2) {
  top: 8px;
  transform-origin: left center;
}
#nav-icon span:nth-child(3) {
  top: 16px;
  transform-origin: left center;
}
#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: -2px;
  left: 2px;
}
#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 18px;
  left: 2px;
}
/*End Mobile Menu icon*/


/* Banner area start css */

.home-banner{
  height: 100%;
  width: 100%;
}
.banner_content{
  padding: 250px 0px;
  position: relative;

}
.banner_main_area .row {
  --bs-gutter-x: 50px;
}
.banner-orange-box{
  padding: 70px 70px;
  background: #E07400;
  clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 86%, 90% 100%, 20% 100%, 0 100%, 0 15%);
  width: 100%;
}
.banner_content .banner-orange-box{
  position: absolute;
  left: 0;
  bottom: -20px;
}
.mobile-banner-orange-box{
  margin-top: 50px;
  display: none;
}
.banner-orange-box .heading1-white{
  line-height: 80px;
}
.banner-orange-box .font18-white{
  font-weight: 600;
  max-width: 380px;
  width: 100%;
  padding-bottom: 20px;
}
.banner-orange-box .font18-white:last-child{
  padding-bottom: 0px;
}
/* Who we are area css start */
.who-we-area{
  margin: 100px 0px;
}
.black_box{
  height: 100%;
  width: 100%;
  background: #000000bd;
  padding: 60px 80px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 87%, 88% 100%, 0 100%, 0 100%, 0 0);
}
.black_box .font22{
  padding-top: 30px;
}
.who-we-right{
  height: 100%;
  width: 100%;
}
.who-we-right .font16{
  padding-top: 30px;
}

.who-we-area .row {
  --bs-gutter-x: 50px;
  --bs-gutter-y: 50px;
}

/* card-area css start */
.card-area{
  padding-bottom: 60px;
}
.card-image{
  height: 360px;
  width: 100%;
  margin-bottom: 20px;
}
.card-image img{
  height: 100%;
  width: 100%;
}
.single-card .font16-purple img{
  width: 20px;
  margin-left: 10px;
}
.orange-border-bottom{
  border-bottom: 10px solid #FF8A0B;
}
.danger-border-bottom{
  border-bottom: 10px solid #E50561;
}
.green-border-bottom{
  border-bottom: 10px solid #00AF04;
}
.purple-border-bottom{
  border-bottom: 10px solid #952FED;
}

.single-card .font16-purple:hover{
  color: #5E27B8;
}
.single-card .font16{
  padding-top: 15px;
  padding-bottom: 20px;
}

/* Footer area css start */
.footer-area{
  background: #4F017C;
  padding: 80px 0px;
}
.footer-top a img{
  width: 40px;
}
.footer-top .heading4{
  padding-bottom: 10px;
}
.fw-semibold{
  font-weight: 600 !important;
}
.footer-bottom{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 15px 100px;
}
.footer-bottom .font16{
  color: #F2E938;
}

/* Project page css start */

.projects-banner{
  /* background: url("../images/projects-banner.jpg")no-repeat scroll center center / cover; */
  height: 100%;
  width: 100%;
}
.mt-100{
  margin-top: 100px;
}

/* History page css start */
.history-content-area{
  padding-bottom: 80px;
}
.history-banner{
  /* background: url("../images/history-banner.png")no-repeat scroll center center / cover; */
  height: 100%;
  width: 100%;
}
.history-content .heading2{
  color: #000;
  padding-bottom: 20px;
}
.history-content .font16{
  padding-top: 30px;
  font-weight: 600;
}

.custom-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.item-image{
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 87%, 88% 100%, 0 100%, 0 100%, 0 0);
}
.item-image img{
  height: 100%;
  width: 100%;
}
/* Contact page css start */
.contact-banner{
  /* background: url("../images/contact-banner.png")no-repeat scroll center center / cover; */
  height: 100%;
  width: 100%;
}
.contact-form-area{
  padding-top: 100px;
  padding-bottom: 80px;
}
.contact-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.contact-content .font18{
  padding: 3px 0px;
}
.contact-content .heading3{
  color:#4F017C;
}
.contact-content .font16:hover{
  color: #000;
}
.contact-form label{
  width: 100%;
}
.contact-form{
  background: #F2F2F2;
  padding: 30px;
}
.contact-form .heading3{
  color: #4F017C;
  padding-bottom: 25px;
}
.contact-form form input::placeholder{
  color: #4F017C;
}
.contact-form form textarea::placeholder{
  color: #4F017C;
}
.contact-form form .form-control{
  background: #FFF;
  border-radius: 0px;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: none;
}
.btn-submit{
  font-size: 14px;
  font-weight: 600;
  color: #F2E938;
  background: #4F017C;
  border-radius: 0;
  border: 0;
  padding: 6px 15px;
  clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 86%, 90% 100%, 20% 100%, 0 100%, 0 15%);
}